<div [formGroup]="form">
  <div class="form-group">
    <mat-form-field appearance="outline" class="font-size-8">
      <mat-label>{{config.label}}</mat-label>
      <mat-select [formControlName]="config.formControl" (selectionChange)="handleEvent()">
        <mat-option *ngFor="let option of config.options" [value]="option.value" [disabled]="option.disabled">
          {{ option.label }}
        </mat-option>
      </mat-select>

      <mat-hint *ngIf="config.hint">
        {{config.hint}}
      </mat-hint>

      <mat-error>
        {{ config.errors?.required || 'Este campo es requerido' }}
      </mat-error>
    </mat-form-field>
  </div>
</div>
